<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Dashboard"}) %> 
<body>
    <div class="flex-grow-1">
      <%- include('partials/navbar') %> 
    </div>
    <%- include('partials/footer') %>
</body>
</html>