<!DOCTYPE html>
<html lang="en">
<%- include('patials/head', {title: "Register"}) %> 

<body>
    <div class="container flex-grow-1">
        <div class="my-3">
            <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="box">
            <form method="post">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name...">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="someone@somewhere.com">
                </div>
                <div class="mb-3">
                    <label for="username"  class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Username...">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="password">
                </div>
    
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-success">Register</button>
                    <a href="/login" class="btn btn-outline-primary">Login</a>
                </div>
            </form>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>